<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= 'Learnings of a Software Engineer, Boa Ho Man' %></title>

    <%=
      display_meta_tags(
        description: 'A tech blog about learnings in DevOps, Go, Ruby and software engineering in general, written by Boa Ho Man',
        'og:site_name': 'aranair.github.io',
        'og:title': 'Learnings of a Software Engineer, Boa Ho Man',
      )
    %>

    <!-- Bootstrap Stuff -->
    <link href=rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro|Lato|Montserrat">
    <%= stylesheet_link_tag "normalize" %>
    <%= stylesheet_link_tag "index" %>
    <%= javascript_include_tag  "all", async: true %>
    <!-- Latest compiled and minified JavaScript -->
    <%= partial "ga" %>
  </head>

  <body class="<%= page_classes %>">
    <%= partial "navbar" %>
    <div class="wrapper">
      <%= yield %>
    </div>
  </body>
</html>
