---
pageable: true
per_page: 10
title: List of Learnings of a Software Engineer
description: 'The list of articles that I have written'
---

<%= partial(:pagination, locals: {
  prev_page: prev_page, next_page: next_page,
  num_pages: num_pages, page_number: page_number,
  paginate: paginate
}) %>

<% page_articles.each_with_index do |article, i| %>
  <div class="article-list__article-summary">
    <h2 class="article-summary__article-title">
      <%= link_to article.title, article %><br>
      <span class="article-summary__published-date">
        <%= article.date.strftime("%b %d, %Y") %>
        <span class="article__middle-dot"></span>
        <%= reading_time article.body %> read
      </span>
    </h2>
    <%= article.summary(250) %>
    <%= link_to "Read more &#8594;", article, class: "article-summary__readmore" %>
  </div>
<% end %>
