---
pageable: true
per_page: 10
---
<%# --- %>
<%# pageable: true %>
<%# --- %>
<h2>Archive for
  <% case page_type
     when 'day' %>
    <%= Date.new(year, month, day).strftime('%b %e %Y') %>
  <% when 'month' %>
    <%= Date.new(year, month, 1).strftime('%b %Y') %>
  <% when 'year' %>
    <%= year %>
  <% end %>
</h2>

<%# <% if paginate && num_pages > 1 %1> %>
<%#   <p>Page <%= page_number %1> of <%= num_pages %1></p> %>

<%#   <% if prev_page %1> %>
<%#     <p><%= link_to 'Previous page', prev_page %1></p> %>
<%#   <% end %1> %>
<%# <% end %1> %>

<%# <ul> %>
<%#   <% page_articles.each_with_index do |article, i| %1> %>
<%#     <li><%= link_to article.title, article %1> <span><%= article.date.strftime('%b %e') %1></span></li> %>
<%#   <% end %1> %>
<%# </ul> %>

<%# <% if paginate %1> %>
<%#   <% if next_page %1> %>
<%#     <p><%= link_to 'Next page', next_page %1></p> %>
<%#   <% end %1> %>
<%# <% end %1> %>
<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<% page_articles.each_with_index do |article, i| %>
  <div class="article-list__article-summary">
    <h2 class="article-summary__article-title">
      <%= link_to article.title, article %><br>
      <span>Published on <%= article.date.strftime("%b %d, %Y") %></span>
    </h2>
    <%= article.summary(250) %>
    <%= link_to "Read More", article, class: "article-summary__readmore" %>
  </div>
<% end %>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
