---
pageable: true
per_page: 10
---

<%= partial("pagination", locals: {
  prev_page: prev_page, next_page: next_page,
  num_pages: num_pages, page_number: page_number,
  paginate: paginate
}) %>

<%= partial "tags_partial" %>

<div class="container">
  <h1><%= tagname.capitalize %></h1>
  <ul>
    <% page_articles.each_with_index do |article, i| %>
      <li><%= link_to article.title, article %> - <span><%= article.date.strftime('%b %d, %Y') %></span></li>
    <% end %>
  </ul>
</div>>
